/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Style */
body {
    background-color: #fafafa;
    font-family: Helvetica,Arial,sans-serif;
}
.container {
    width: 335px;
    margin: 50px auto;
    background-color: white;
    position: relative;
    margin-bottom: 10px;
    text-align: center;
    padding: 10px;
    border: 1px groove;
    box-sizing: border-box;
}
.phone {
    position: absolute;
    bottom: -190px;
    left: -400px;
}
.judul {
    padding: 20px;
}
.user{
    background-color: #fafafa;
    display: inline-block;
    width :250px;
    height: 30px;
    margin-bottom: -15px;
    border: 1px groove;
}
.pass{
    background-color: #fafafa;
    display: inline-block;
    width :250px;
    height: 30px;
    margin-bottom: 0px;
    border : 1px 1px 1px 1px ;
    border: 1px groove;
}
.submit {
    background-color: lightblue;
    margin :auto;
    width :260px;
    height: 30px;
    margin-bottom: 15px;
    color: white;
    border: 1px groove;
}
.or {
    padding: 5px;
    margin-bottom: 12px;
    font-size: small;
    color: lightslategray;
}
.line1 {
    background-color:lightslategray;
    width: 110px;
    height: 1px;
    position: relative;
    left: 25px;
    top: -25px;
}
.line2 {
    background-color:lightslategray;
    width: 110px;
    height: 1px;
    position: relative;
    left: 180px;
    top: -25px;
}
.facebook {
    padding: 5px;
    margin-bottom: 5px;
    
}
.forgot{
    padding: 5px;
    margin-bottom: 10px;
    font-size: smaller;
}
.forgot a{
    text-decoration: none;
    color: black;
    
}

/** sub main **/
.submain {
    width: 315px;
    margin: auto;
    margin-bottom: 10px;
    background-color: white;
    position: relative;
    text-align: center;
    padding: 10px;
    border: 1px groove;
    font-size: small;
}
.submain .signup {
    padding: 15px;
    
}
.submain .signup a {
    text-decoration: none;
    color: blue;
}
.get {
    width: 350px;
    margin: auto;
    background-color: #fafafa;
    text-align: center;
    padding: 10px;
}
.appstore {
    text-align: center;
    margin-top: 10px;
    margin-right: 160px;
}
.googleplay {
    text-align: center;
    margin-left: 145px;
    margin-top: -47px;
}

/** Footer **/
.footer {
    width: 100%;
    background-color: #fafafa;
    position: fixed;
    left: 90px;
    box-sizing: border-box;
}
.footer ul li {
    display: inline-block;
    margin-top: 50px;
    margin-right: 10px;
    margin-bottom: 25px;
    padding: 10px;
    font-size:smaller;
    text-align: center;  
}
.footer ul li  a {
    text-decoration: none;
    color: lightslategray;
    
}
.footer .copy {
    font-size:smaller;
    color: lightslategray;
    position: relative;
    left: 500px;
}



/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
 .cf:before,
 .cf:after {
     content: " "; /* 1 */
     display: table; /* 2 */
 }
 
 .cf:after {
     clear: both;
 }
 
 /**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
 .cf {
     *zoom: 1;
 }